body {
    background-image: url("images/NewSingle_Neomatik_FB.jpg");
    background-color: #cccccc;
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
html {
   height: 100%;
}